header {
    transition:0.3s ease;
    background-color: #85ABBD;
    .top-bar .container, .header-content {
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
    }

    .top-bar {
        height: em(40);
        border-bottom: 1px solid #000;
        p {
            font-family: 'GT Super Text';
            font-size: em(14);
            font-style: italic;
            font-weight: 400;
            line-height: 1.1;
            letter-spacing: 0em;
            text-align: left;
        }

        .top-bar-menu {
            ul {
                list-style-type: none;
                display:flex;
                align-items: center;
                justify-content: flex-end;
                li {
                    margin-left:em(40);
                    a {
                        font-family: 'GT Super Text';
                        font-size: em(14);
                        font-style: italic;
                        font-weight: 400;
                        line-height: 1.1;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #000;
                        text-decoration: none;
                        transition: 0.3s ease;
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    .navigation {
        display:flex;
        justify-content: flex-end;
        align-items: center;
        height:em(100);
        ul {
            list-style-type: none;
            display:flex;
            align-items: center;
            justify-content: flex-end;
            li {
                margin-right:em(35);
                a {
                    font-family: 'Platform';
                    font-size: em(14);
                    font-weight: 400;
                    line-height: 1;
                    letter-spacing: 0.25em;
                    text-align: center;
                    text-transform: uppercase;
                    color:#000;
                    text-decoration: none;
                    transition:0.3s ease;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
        > a {
            width:auto;
            height: em(21);
            transition:0.3s ease;
            &:hover {
                opacity: 0.5;
            }
            &:last-child {
                margin-right:0;
                margin-left:em(25);
            }
            img {
                width: auto;
                height: 100%;
            }
        }
    }

    .header-content {
        padding: em(28) 0 em(63);
        transition: 0.3s ease;
        .img-wrap {
            width:100%;
            height:auto;
            position:relative;
            margin-top:0;
            left:0;
            transform-origin: left top;
            transition: 0.3s ease;
            img {
                width:em(920);
                height:auto;
            }
        }
        .content {
            padding-left:em(90);
            p {
                font-family: 'GT Super Text';
                font-size: em(20);
                font-weight: 400;
                line-height: 1.1;
                letter-spacing: 0.01em;
                text-align: left;
            }
        }
    }

    &.condensed {
        margin-bottom:em(-177);
        .header-content {
            padding:0;
            .img-wrap {
                scale: 0.2;
                margin-top:em(-73);
                left:0;
                // transform:translate3d(0px, em(-510), 0);
            }
        }
        .content {
            display:none;
        }
    }
}