{% assign column_content_settings = section.settings %}

<div class="section column-content">
  <div class="container">
    <div class="column-wrap">
      {%- if section.blocks.size > 1 -%}
        {%- for block in section.blocks -%}
          <div class="column-item">
            {% if block.settings.image != null %}
              <div class="img-wrap">
                <img src="{{ block.settings.image | img_url: 'master' }}">
              </div>
            {% endif %}
            <div class="content">
              <h3>{{ block.settings.title }}</h3>
              <a href="{{block.settings.link}}">{{ block.settings.link_title }}</a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Column Content",
  "blocks": [
    {
      "name": "Column",
      "type": "column",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "link_title",
          "label": "Link Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Column Content"
    }
  ]
}
{% endschema %}
