{% assign feature_product_settings = section.settings %}

<div class="section featured-products">
  <div class="container">
    {% if feature_product_settings.heading != '' %}
      <div class="heading-wrap">
        <h2>{{ feature_product_settings.heading }}</h2>
      </div>
    {% endif %}
  </div>

  <div class="products-wrap">
    <div class="arrow-wrap">
      <a href="#" class="btn-arrow btn-arrow-left">{% render 'icon-arrow-left' %}</a>
      <a href="#" class="btn-arrow btn-arrow-right">{% render 'icon-arrow-right' %}</a>
    </div>
    <div class="products products-carousel">
      {%- if section.blocks.size > 1 -%}
        {%- for block in section.blocks -%}
          <div class="product-item">
            {% if block.settings.image != null %}
              <div class="img-wrap">
                <img src="{{ block.settings.image | img_url: 'master' }}">
              </div>
            {% endif %}
            <div class="content">
              <p>{{ block.settings.title }}</p>
              <span>${{ block.settings.price }}</span>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <a href="#" class="btn-shop-all">Shop All</a>
</div>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
