{% assign hero_banner_settings = section.settings %}

<div class="banner">
  <div class="img-wrap">
    {% if hero_banner_settings.banner_image != null %}
      <img
        class="img-asset"
        src="{{ hero_banner_settings.banner_image | img_url: 'master' }}"
        alt="Banner"
        desktop-img="{{ hero_banner_settings.banner_image | img_url: 'master' }}"
        mobile-img="{{ hero_banner_settings.mobile_banner_image | img_url: 'master' }}"
      >
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "image_picker",
      "label": "Banner Image",
      "id": "banner_image"
    },
    {
      "type": "image_picker",
      "label": "Mobile Banner Image",
      "id": "mobile_banner_image"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}
