@font-face {
  font-family: "GT Super Display";
  src: url("/assets/GT-Super-Display-Medium.ttf") format("truetype");
  src: url("/assets/GT-Super-Display-Medium.woff2") format("woff2"), url("/assets/GT-Super-Display-Medium.woff") format("woff"), url("/assets/GT-Super-Display-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT Super Display";
  src: url("/assets/GT-Super-Display-Light-Italic.ttf") format("truetype");
  src: url("/assets/GT-Super-Display-Light-Italic.woff2") format("woff2"), url("/assets/GT-Super-Display-Light-Italic.woff") format("woff"), url("/assets/GT-Super-Display-Light-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "GT Super Display";
  src: url("/assets/GT-Super-Display-Medium-Italic.ttf") format("truetype");
  src: url("/assets/GT-Super-Display-Medium-Italic.woff2") format("woff2"), url("/assets/GT-Super-Display-Medium-Italic.woff") format("woff"), url("/assets/GT-Super-Display-Medium-Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "GT Super Text Book";
  src: url("/assets/GT-Super-Text-Book.ttf") format("truetype");
  src: url("/assets/GT-Super-Text-Book.woff2") format("woff2"), url("/assets/GT-Super-Text-Book.woff") format("woff"), url("/assets/GT-Super-Text-Book.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GT Super Text Book";
  src: url("/assets/GT-Super-Text-Book-Italic.ttf") format("truetype");
  src: url("/assets/GT-Super-Text-Book-Italic.woff2") format("woff2"), url("/assets/GT-Super-Text-Book-Italic.woff") format("woff"), url("/assets/GT-Super-Text-Book-Italic.ttf") format("truetype"), url("/assets/GT-Super-Text-Book-Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "GT Super Display";
  src: url("/assets/GT-Super-Display-Light.ttf") format("truetype");
  src: url("/assets/GT-Super-Display-Light.woff2") format("woff2"), url("/assets/GT-Super-Display-Light.woff") format("woff"), url("/assets/GT-Super-Display-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Platform";
  src: url("/assets/Platform-Regular-Web.woff2") format("woff2"), url("/assets/Platform-Regular-Web.woff") format("woff"), url("/assets/Platform-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Platform";
  src: url("/assets/Platform-Medium-Web.woff2") format("woff2"), url("/assets/Platform-Medium-Web.woff") format("woff"), url("/assets/Platform-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  outline: none !important;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "GT Super Text";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  background-color: #F4EDE5;
  overflow-x: hidden;
}

h2 {
  font-family: "GT Super Display";
  font-size: 5.7142857143em;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 2.8571428571em;
  }
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

.container {
  max-width: 98.5714285714em;
  padding: 0 0.7142857143em;
  width: 100%;
  margin: 0 auto;
}

.heading-wrap {
  padding: 5em 0 3.5714285714em;
}
@media screen and (max-width: 767px) {
  .heading-wrap {
    padding: 4.2857142857em 0 2.1428571429em;
  }
}

header {
  transition: 0.3s ease;
  background-color: #85ABBD;
}
header .top-bar .container, header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .top-bar {
  height: 2.8571428571em;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 767px) {
  header .top-bar {
    display: none;
  }
}
header .top-bar p {
  font-family: "GT Super Text";
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0em;
  text-align: left;
}
header .top-bar .top-bar-menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .top-bar .top-bar-menu ul li {
  margin-left: 2.8571428571em;
}
header .top-bar .top-bar-menu ul li a {
  font-family: "GT Super Text";
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
  text-decoration: none;
  transition: 0.3s ease;
}
header .top-bar .top-bar-menu ul li a:hover {
  opacity: 0.5;
}
header .navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 7.1428571429em;
}
@media screen and (max-width: 767px) {
  header .navigation {
    display: none;
  }
}
header .navigation ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .navigation ul li {
  margin-right: 2.5em;
}
header .navigation ul li a {
  font-family: "Platform";
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.25em;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  transition: 0.3s ease;
}
header .navigation ul li a:hover {
  opacity: 0.5;
}
header .navigation > a {
  width: auto;
  height: 1.5em;
  transition: 0.3s ease;
}
header .navigation > a:hover {
  opacity: 0.5;
}
header .navigation > a:last-child {
  margin-right: 0;
  margin-left: 1.7857142857em;
}
header .navigation > a img {
  width: auto;
  height: 100%;
}
header .header-content {
  padding: 2em 0 4.5em;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  header .header-content {
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 3.4285714286em;
  }
}
header .header-content .img-wrap {
  width: 201.76%;
  height: auto;
  position: relative;
  margin-top: 0;
  left: 0;
  transform-origin: left top;
  transition: 0.3s ease;
  max-width: 65.7142857143em;
}
@media screen and (max-width: 767px) {
  header .header-content .img-wrap {
    width: 100%;
  }
}
header .header-content .img-wrap img {
  width: 100%;
  height: auto;
}
header .header-content .content {
  padding-left: 6.4285714286em;
}
@media screen and (max-width: 767px) {
  header .header-content .content {
    padding-top: 1.4285714286em;
    padding-left: 0;
    max-width: 17.0714285714em;
  }
}
header .header-content .content p {
  font-family: "GT Super Text";
  font-size: 1.4285714286em;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.01em;
  text-align: left;
}
@media screen and (max-width: 767px) {
  header .header-content .content p {
    font-size: 1.1428571429em;
  }
}
header.condensed {
  margin-bottom: -12.6428571429em;
}
header.condensed .header-content {
  padding: 0;
}
header.condensed .header-content .img-wrap {
  scale: 0.2;
  margin-top: -5.2142857143em;
  left: 0;
}
header.condensed .content {
  display: none;
}

.banner {
  background-color: #85ABBD;
}
.banner .img-wrap {
  font-size: 0;
}
.banner .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-cards .content-card-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.content-cards .content-card-items .card-item {
  display: block;
  text-decoration: none;
  width: 100%;
  max-width: 23.7142857143em;
  min-height: 30.9285714286em;
  padding: 0.7142857143em;
  margin: 0 0.3571428571em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.content-cards .content-card-items .card-item:hover .img-wrap img {
  scale: 1.1;
}
.content-cards .content-card-items .card-item:hover span:after {
  opacity: 0;
  width: 0%;
}
.content-cards .content-card-items .card-item .img-wrap {
  width: 22.2857142857em;
  height: 16em;
  overflow: hidden;
}
.content-cards .content-card-items .card-item .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease;
}
.content-cards .content-card-items .card-item .content {
  max-width: 20.5em;
  margin: 0 auto;
}
.content-cards .content-card-items .card-item h4 {
  font-family: "GT Super Display";
  font-size: 2.2857142857em;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 0.3125em;
  color: #000;
}
.content-cards .content-card-items .card-item p {
  font-family: "GT Super Text";
  font-size: 1em;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
  max-width: 19.4285714286em;
  margin: 0 auto 1.1428571429em;
  color: #000;
}
.content-cards .content-card-items .card-item span {
  font-family: "Platform";
  font-size: 0.8571428571em;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.25em;
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  position: relative;
}
.content-cards .content-card-items .card-item span:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  height: 1px;
  width: 100%;
  background-color: #000;
  transition: 0.3s ease;
  opacity: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.column-content {
  margin-top: 5.5em;
}
.column-content .column-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -5px;
}
@media screen and (max-width: 767px) {
  .column-content .column-wrap {
    flex-direction: column;
    margin: 0;
  }
}
.column-content .column-wrap .column-item {
  width: 100%;
  max-width: 48.2142857143em;
  height: auto;
  margin: 0 5px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .column-content .column-wrap .column-item {
    margin: 0 0 20px;
  }
  .column-content .column-wrap .column-item:last-child {
    margin-bottom: 0;
  }
}
.column-content .column-wrap .column-item .img-wrap {
  width: 100%;
  height: 100%;
}
.column-content .column-wrap .column-item .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.column-content .column-wrap .column-item .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  max-width: 43.8571428571em;
  width: 100%;
  margin: 0 auto 3.2142857143em;
  padding: 0 15px;
}
@media screen and (max-width: 1024px) {
  .column-content .column-wrap .column-item .content {
    max-width: 23.7142857143em;
  }
}
.column-content .column-wrap .column-item .content h3 {
  font-family: "GT Super Display";
  font-size: 4.5714285714em;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .column-content .column-wrap .column-item .content h3 {
    font-size: 2.2857142857em;
  }
}
.column-content .column-wrap .column-item .content a {
  font-family: "Platform";
  font-size: 1.1428571429em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.25em;
  text-align: center;
  color: #fff;
  position: relative;
  margin-top: 1.25em;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .column-content .column-wrap .column-item .content a {
    font-size: 0.8571428571em;
  }
}
.column-content .column-wrap .column-item .content a:hover:after {
  opacity: 0;
  width: 0%;
}
.column-content .column-wrap .column-item .content a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: 0.3s ease;
  opacity: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.featured-products {
  padding-bottom: 5.7142857143em;
  text-align: center;
}
.featured-products .products-wrap {
  position: relative;
}
.featured-products .arrow-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 9;
  pointer-events: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.featured-products .arrow-wrap .btn-arrow {
  pointer-events: auto;
  text-decoration: none;
  transition: 0.3s ease;
  backface-visibility: hidden;
}
.featured-products .arrow-wrap .btn-arrow:hover {
  opacity: 0.5;
}
.featured-products .arrow-wrap .btn-arrow:hover.btn-arrow-left {
  transform: translateX(-5px);
}
.featured-products .arrow-wrap .btn-arrow:hover.btn-arrow-right {
  transform: translateX(5px);
}
.featured-products .products {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 -1px;
}
.featured-products .products .product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  margin: 0 1px;
}
.featured-products .products .product-item:hover .img-wrap img {
  scale: 1.1;
}
.featured-products .products .product-item .img-wrap {
  width: 29.8571428571em;
  height: 22.3571428571em;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .featured-products .products .product-item .img-wrap {
    width: 19.8571428571em;
    height: 14.8571428571em;
  }
}
.featured-products .products .product-item .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease;
}
.featured-products .products .product-item .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.1428571429em;
  width: 100%;
  background-color: #fff;
  padding: 0 1.4285714286em;
}
@media screen and (max-width: 767px) {
  .featured-products .products .product-item .content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.featured-products .products .product-item .content p {
  font-family: "GT Super Display";
  font-size: 1.7142857143em;
  font-style: italic;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: left;
  color: #000;
}
@media screen and (max-width: 767px) {
  .featured-products .products .product-item .content p {
    font-size: 1.4285714286em;
    margin-bottom: 0.5em;
  }
}
.featured-products .products .product-item .content span {
  display: inline-block;
  font-family: "Platform";
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.25em;
  text-align: right;
  color: #000;
}
.featured-products .btn-shop-all {
  font-family: "Platform";
  font-size: 1.1428571429em;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.25em;
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top: 2.9375em;
}
@media screen and (max-width: 767px) {
  .featured-products .btn-shop-all {
    font-size: 0.8571428571em;
  }
}
.featured-products .btn-shop-all:hover:after {
  opacity: 0;
  width: 0%;
}
.featured-products .btn-shop-all:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  height: 1px;
  width: 100%;
  background-color: #000;
  transition: 0.3s ease;
  opacity: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
}
